version: '3.7'

services:
  web:
    build: ./
    command: python run.py run -h 0.0.0.0
    volumes:
    - ./:/usr/src/app/
    ports:
      - 5000:5000
    env_file:
      - ./.env.dev
  redis_container:
    container_name: redis
    image: redis
    restart: always
  worker:
    build: .
    command: celery -A anima_api.celery worker
    volumes:
      - ./:/usr/src/app/
    depends_on:
      - redis_container
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=hello_flask
      - POSTGRES_PASSWORD=hello_flask
      - POSTGRES_DB=hello_flask_dev

volumes:
  postgres_data: