version: '3.7'

services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile.prod
    command: >
      sh -c "gunicorn --bind 0.0.0.0:5000 run:app &&
             python run.py create_db"
    expose:
      - 5000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  redis_container:
    container_name: redis
    image: redis
    restart: always
  worker:
    build: .
    command: celery -A anima_api.celery worker
    volumes:
      - ./:/usr/src/app/
    depends_on:
      - redis_container
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
  nginx:
    build: ./nginx
    ports:
      - 1337:80
    depends_on:
      - web

volumes:
  postgres_data: