{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control from-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.bot_id.label(class="form-control-label") }}
                    {% if form.bot_id.errors %}
                        {{ form.bot_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bot_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bot_id(class="form-control from-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.page_id.label(class="form-control-label") }}
                    {% if form.page_id.errors %}
                        {{ form.page_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.page_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.page_id(class="form-control from-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.pa_token.label(class="form-control-label") }}
                    {% if form.pa_token.errors %}
                        {{ form.pa_token(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pa_token.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pa_token(class="form-control from-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
{% endblock %}